<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
   </startup>

<connectionStrings>
  <add name="ConString" connectionString="Data Source=CWS116\SQL_2014;Initial Catalog=Phone_Book;Integrated Security=False;User ID=sa;Password=123"/>
</connectionStrings>
</configuration>
