<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=CWS116\SQL_2014;Initial Catalog=Inventory;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
